.CampusCardImage {
    width: 200px;
    height: 200px;
    margin-left: 3.4vw;
    padding-top: 1.5rem;
}

h4 {
    font-size: 1.5rem;
}

.CampusNameLink {
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-size: 1rem;
    border: none;
    text-align: center;
}

.CampusNameLink:hover {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

.CampusNameLink:visited {
    color: #551A8B;
}

.editBtn {
    display: inline;
    margin-left: 0;
    margin-right: 2rem;
}

.deleteBtn {
    display: inline;
    margin-left: 0;
    background-color: rgb(221, 9, 9);
    border: 2px solid rgb(114, 21, 4);
    border-bottom: none;
}

.deleteBtn:hover {
    background-color: rgb(70, 13, 3);
}
.CampusCardContainer {
    background-color: grey;
    width: 20vw;
    height: 35vh;
    margin: 2rem;
}

.NumStudents {
    text-align: center;
    padding: 0.5rem;
}

.ButtonContainer {
    text-align: center;
}