body {
  background-color: lightgrey;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*border: 10px solid goldenrod;*/
}

.box1 {
  display: flex;
  height: 40vh;
}

.item1 {
  flex: 1 1 25vw;
  /*border: 10px solid red;*/
}

.item1 img {
  height: 40vh;
  margin-right: 2rem;
}

.item2 {
  flex: 1 5 75vw;
  display: flex;
  flex-direction: column;
  /*border: 10px solid black;*/
}

.item2 h1 {
  font-size: 2rem;
  margin-top: 1rem;
}

.item2 p {
  font-size: 1rem;
  max-height: 10vh;
  max-width: 50vw;
  overflow: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.item2 .buttons {
  align-self: flex-end;
  padding-top: 5rem;
}

.item2 .buttons button{
  background-color: #DD0909;
  border: 2px solid #721504;
  border-bottom: none;
  border-radius: 16px;
  font-weight: bold;
  height: 5vh;
  border-bottom: none;
}

.box2 {
  display: flex;
  min-height: 25vh;
  align-items: center;
  /*border: 10px solid red;*/
}

.box2 h3 {
  font-size: 2rem;
  flex: 1 5 75vw;
}

.box2 a button {
  color: white;
  background-color: salmon;
  border: 2px solid #974514;
  border-bottom: none;
  border-radius: 16px;
  font-weight: bold;
  height: 5vh;
  width: 25vh;
}

.box2 a button:hover {
  cursor: pointer;
  background-color: #974E45;
}

