nav {
    margin: 3rem 0;
    background-color: transparent;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}
nav a {
    color: white;
    padding: 2rem 4rem;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    border: 1px dashed white;
}

nav a:hover {
    border: 1px dashed white;
    background-color: #666666;
    font-size: 1.5rem;
    cursor: pointer;
}

nav a > * {
  border: none;
}

nav a > *:hover {
  border: none;
}
