.students-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*border: 10px solid black;*/
}

.students-header {
  display: flex;
  min-height: 25vh;
  align-items: center;
}

.students-header h3 {
  font-size: 4rem;
  flex: 1 5 75vw;
}

.students-header a button {
  color: white;
  background-color: salmon;
  border: 2px solid #974514;
  border-bottom: none;
  border-radius: 16px;
  font-weight: bold;
  height: 5vh;
  width: 25vh;
}

.students-container a button:hover {
  cursor: pointer;
  background-color: #974E45;
}

.studentcard-container {
  display: flex;
  min-height: 75vh;
  flex-wrap: wrap;
  justify-content: space-around;
  /*border: 10px solid goldenrod;*/
}

.studentcard-container > * {
  flex: 0 0 18vw;
  margin-bottom: 2rem;
  background: linear-gradient(to right, #b993d6, #8ca6db);
}

/**********************************************************************/

.studentcard-container .studentcard {
  text-align: center;
  /*border: 5px solid red;*/
}

.studentcard-container .studentcard a h4 {
  font-size: 1.5rem;
  color: #0000EE;
  text-decoration: underline;
  font-size: 1rem;
}

.studentcard-container .studentcard a h4:visited {
  color: #551A8B;
}

.studentcard-container .studentcard img {
  width: 16vw;
  height: 24vh;
  text-align: center;
  padding-top: 2rem;
}
.studentcard-container .studentcard .buttons {
  padding-bottom: 1rem;
}

.studentcard-container .studentcard .buttons button {
  background-color: #DD0909;
  border: 2px solid #721504;
  border-bottom: none;
  border-radius: 16px;
  font-weight: bold;
  height: 5vh;
  border-bottom: none;
}

.studentcard-container .studentcard .buttons button:hover {
  background-color: #460D03;
}
/**********************************************************************/

.newstudentform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 10px solid goldenrod;*/
}

.newstudentform-container form {
  display: flex;
  width: 50vw;
  height: 50vh;
  background-color: darkgrey;
  flex-direction: column;
  align-items: center;
  /*border: 10px solid red;*/
}

.newstudentform-container form input[type=text] {
  width: 25vw;
  height: 5vh;
  border: 1px solid black;
}

.newstudentform-container form input[type=submit] {
  background-color: salmon;
  border: 2px solid #974E45;
  border-bottom: none;
  border-radius: 16px;
  font-weight: bold;
  height: 5vh;
  text-decoration: none;
  margin-top: 2rem;
}

.editstudentform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 10px solid goldenrod;*/
}

/**********************************************************************/

.editstudentform-container form {
  display: flex;
  width: 50vw;
  height: 50vh;
  background-color: darkgrey;
  flex-direction: column;
  align-items: center;
  /*border: 10px solid red;*/
}

.editstudentform-container form input[type=text] {
  width: 25vw;
  height: 5vh;
  border: 1px solid black;
}

.editstudentform-container form input[type=submit] {
  background-color: salmon;
  border: 2px solid #974E45;
  border-bottom: none;
  border-radius: 16px;
  font-weight: bold;
  height: 5vh;
  text-decoration: none;
  margin-top: 2rem;
}

/**********************************************************************/

.studentcard a {
  cursor: pointer;
}
